@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: Open Sans;
}
.padding {
  margin-top: 20px;
  margin-bottom: 40px;
}
.add {
  margin-top: 20px;
  margin-bottom: 40px;
}
textarea {
  resize: none;
}
.similar_products .similar .block {
  border: 1px solid #bcbcbc;
  height: 100px;
  line-height: 50px;
  color: black;
  display: block;
}
.similar_products .similar .block:hover {
  text-decoration: none;
  border: 1px solid #000000;
  font-size: 1.3em;
}
.similar_products .similar .block .title {
  font-weight: bold;
}
.similar_products .similar .block .price {
  font-weight: bold;
}
.home {
  margin-top: 20px;
  margin-bottom: 40px;
}
.history {
  margin-top: 20px;
  margin-bottom: 40px;
}
